
    <!-- DESPLEGAR FORMULARIO DE INSERTAR -->
    <div class="" [ngClass]="{'collapse': Collapse === false}">

        <form [formGroup]="crearUsuarioForm" (ngSubmit)="onSubmitInsert()">
            <div class="card">
                <div class="card-body">
                    <h4>Agregar Usuario</h4>
                    <hr />

                    <div class="row">
                        <div class="col-6">

                            <div class="col-sm-2">
                            <label for="firstname2" class="form-label">Usuario</label>
                            </div>

                            <input pInputText id="firstname2" class="form-control" formControlName="usua_Usuario" type="text" required autofocus (keydown)="validarTextoAlfa($event)"/>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearUsuarioForm.controls['usua_Usuario'].invalid" style="color: red !important;">Codigo Requerido</small>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="col-sm-2">
                                <label for="firstname2">Contraseña</label>
                            </div>

                            <input pInputText id="firstname2" class="form-control" formControlName="usua_Contraseña" type="text" required autofocus (keydown)="validarTextoAlfa($event)" />

                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearUsuarioForm.controls['usua_Contraseña'].invalid" style="color: red !important;">Descripcion Requerida</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        <label for="firstname2" class="" >Validacion Admin</label>
                        </div>  
                            <div class="col-2">
                                <label>
                                    <input type="radio" class="form-check-input" name="admin" [value]="true" formControlName="usua_EsAdmin"> Si
                                </label>
                            </div>
                            <div class="col-2">
                                <label>
                                    <input type="radio" class="form-check-input" name="admin" [value]="false" formControlName="usua_EsAdmin"> No
                                </label>
                            </div>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearUsuarioForm.controls['usua_EsAdmin'].invalid" style="color: red !important;">Validacion Requerida</small>
                        
                        <div class="col-6">
                            <div >
                                <label for="firstname2">Rol</label>
                            </div>
                            <select formControlName="role_Id" class="form-control" pInputText id="" required autofocus>
                                <option *ngFor="let rol of roles" [value]="rol.value">{{ rol.text }}</option>
                            </select>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearUsuarioForm.get('role_Id').value === '0'" style="color: red !important;">El Rol es Requerido</small>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="col-sm-2">
                            <label for="firstname2">Empleado</label>
                            </div>
                            <select formControlName="empl_Id" class="form-control" pInputText id="" required autofocus>
                            <option *ngFor="let empl of empleados" [value]="empl.value">{{ empl.text }}</option>
                        </select>
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearUsuarioForm.get('empl_Id').value === '0'" style="color: red !important;">El Empleado es Requerido</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-offset-2 col-3">
                            <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                        </div>
                        <div class="col-md-offset-2 col-3" id="">
                            <button pButton icon="pi pi-times" type="button" (click)="Collapse=false; Tabla=true; isSubmit=false" label="Cancelar" class="btn btn-danger"></button>
                        </div>
                    </div>
            </div>
        </form>

    </div>


    <!-- DESPLEGAR FORMULARIO DE EDITAR -->
<div class="" [ngClass]="{'collapse': CollapseEdit === false}">

    <form [formGroup]="editarUsuarioForm" (ngSubmit)="onSubmitEdit()">
        <div class="card">
            <div class="card-body">
                <h4>Editar Usuario</h4>
                <hr />


                <div class="row">
                    <div class="col-4">

                        <div class="col-sm-2">
                        <label for="firstname2" class="form-label">Usuario</label>
                        </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="usua_Usuario" type="text" required autofocus (keydown)="validarTextoAlfa($event)"/>
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && editarUsuarioForm.controls['usua_Usuario'].invalid" style="color: red !important;">Codigo Requerido</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="admin" [value]="true" formControlName="usua_EsAdmin"> Si
                        </label>
                    </div>

                    <div class="col-md-3">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="admin" [value]="false" formControlName="usua_EsAdmin"> No
                        </label>
                    </div>

                    <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && editarUsuarioForm.controls['usua_EsAdmin'].invalid" style="color: red !important;">Descripcion Requerida</small>
                    </div>

                    <div class="col-6">
                        <div class="col-sm-2">
                        <label for="firstname2">Rol</label>
                        </div>
                        <select formControlName="role_Id" class="form-control" pInputText id="" required autofocus>
                        <option *ngFor="let rol of roles" [value]="rol.value">{{ rol.text }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && editarUsuarioForm.get('role_Id').value === '0'" style="color: red !important;">El Rol es Requerido</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="col-sm-2">
                        <label for="firstname2">Empleado</label>
                        </div>
                        <select formControlName="empl_Id" class="form-control" pInputText id="" required autofocus>
                        <option *ngFor="let empl of empleados" [value]="empl.value">{{ empl.text }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && editarUsuarioForm.get('empl_Id').value === '0'" style="color: red !important;">El Empleado es Requerido</small>
                    </div>
                </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-offset-2 col-3">
                        <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                    </div>
                    <div class="col-md-offset-2 col-3" id="">
                        <button pButton icon="pi pi-times" type="button" (click)="CollapseEdit=false; Tabla=true; isSubmitEdit=false" label="Cancelar" class="btn btn-danger"></button>
                    </div>
                </div>
    </form>
</div>




<div class="card" [ngClass]="{'collapse': Tabla === false}">
    <div class="card-header">
        <header class="w-100 d-flex justify-content-between p-2">
            <h2>Listado de Usuarios</h2>
            <button (click)="Collapse=true; Tabla=false" class="btn btn-primary" pButton icon="pi pi-plus" style="max-height: 40px; max-width:150px;" label="Agregar"></button>

        </header>
    </div>
    <div class="card-body m-2 mt-4 p-3">


        <div class="card px-6 py-6">

            <p-table #dt [value]="usuario" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Nombre Usuario</th>
                        <th>Admin</th>
                        <th>Rol</th>
                        <!-- <th>Correo</th> -->
                        <th>Empleado</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usua>
                    <tr>
                        <td>{{usua.usua_Id}}</td>
                        <td>{{usua.usua_Usuario}}</td>
                        <td>{{usua.usua_Admin1}}</td>
                        <td>{{usua.role_Descripcion}}</td>
                        <!-- <td>{{usua.correo}}</td> -->
                        <td>{{usua.empl_Nombre}}</td>

                        <td>
                            <button class="btn btn-primary  btn-sm" (click)="Fill(usua.usua_Id)"> <i class="pi pi-file ">Editar  </i></button> |
                            <button class="btn btn-warning fa fa-address-card btn-sm " (click)="detalles(usua.usua_Id)"><i class="pi pi-file-edit">Detalle  </i></button> |
                            <button class="btn btn-danger fa fa-window-close btn-sm" (click)="deleteUsuario(usua.usua_Id)"> <i class="pi pi-trash">Eliminar</i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



<!-- DESPLEGAR DETALLE -->
<div class="container" [ngClass]="{'collapse': CollapseDetalle === false}">
    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Detalles Ciudad</h4>
                <button pButton icon="pi pi-times" type="button" (click)="CollapseDetalle=false; Tabla=true;" label="Regresar" class="btn btn-warning"></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="font-weight:700">

                    <div>Nombre</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Admin</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Rol</div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div><label for="Usuario">{{ usua_Usuario }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Codigo">{{ usua_EsAdmin }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Estado">{{ role_Id }}</label></div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5>Auditoria</h5>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Insertar</td>
                                    <td>{{ UsuarioCreacion }}</td>
                                    <td>{{ FechaCreacion }}</td>
                                </tr>
                                <tr>
                                    <td>Modificar</td>
                                    <td>{{ UsuarioModificacion }}</td>
                                    <td>{{ FechaModificacion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- DESPLEGAR MODAL DELETE -->
<p-dialog [(visible)]="deleteUsaurioBool" header="Eliminar Registro" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <h4><b>Desea eliminar el registro?</b></h4>
    </div>
        <div class="row mt-5">
            <div class="col-4" id="">
                <button pButton pRipple icon="pi pi-check" class="btn btn-danger" style="width: 120px;" label="Confirmar" (click)="confirmDelete()"></button>
            </div>
            <div class="col-4">
                <button pButton pRipple icon="pi pi-times" class="btn btn-warning" style="width: 120px;" label="Cancelar" (click)="deleteUsaurioBool = false"></button>
            </div>
        </div>
</p-dialog>

