

    <!-- DESPLEGAR FORMULARIO DE CREAR -->
    <div class="" [ngClass]="{'collapse': Collapse === false}">

        <form [formGroup]="crearCursosImpartidosForm" (ngSubmit)="onSubmitInsert()">


            <div class="card">
                <div class="card-body">
                    <h4>Nuevo Curso Impartido</h4>
                    <hr />

                    <div class="row">
                        <div class="col-6">

                            <label for="firstname2" class="form-label">Ingrese DNI del Empleado</label>

                            <input pInputText id="firstname2" class="form-control" formControlName="empl_DNI" type="text" required autofocus (change)="onDNIChange(crearCursosImpartidosForm.get('empl_DNI').value)"/>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearCursosImpartidosForm.controls['empl_DNI'].invalid" style="color: red !important;">DNI Requerido Requerido</small>
                        </div>

                        <div class="col-6">

                            <label for="firstname2" class="form-label">Empleado</label>

                            <input pInputText id="firstname2" class="form-control" formControlName="empl_Nombre" type="text" required autofocus (keydown)="validarNumeros($event)" readonly/>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearCursosImpartidosForm.controls['empl_Nombre'].invalid" style="color: red !important;">Nombre Requerido</small>
                        </div>
                    </div>

                        <div class="card">
                            <div class="row">

                            <div class="col-6">

                                <label for="firstname2" class="form-label mt-5">Ingrese el nombre del Curso</label>

                                <input pInputText id="firstname2" class="form-control" formControlName="curso_Descripcion" type="text" required autofocus (change)="onCursoChange(crearCursosImpartidosForm.get('curso_Descripcion').value)"/>
                                <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearCursosImpartidosForm.controls['curso_Descripcion'].invalid" style="color: red !important;">Curso Requerido</small>


                                <label for="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}" class="form-label mt-5">Ingrese la Fecha de Inicio del Curso</label>

                                <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-control" formControlName="curIm_FechaInicio" type="datetime-local" required autofocus (keydown)="validarNumeros($event)"/>
                                <small class="ng-dirty ng-invalid" [ngClass]="{'collapse': ImagenEncontrada === false}"  *ngIf=" isSubmit && crearCursosImpartidosForm.controls['curIm_FechaInicio'].invalid" style="color: red !important;">Fecha de Inicio  Requerida</small>


                                    <label for="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-label mt-5">Ingrese la Fecha de Finalización del Curso</label>

                                    <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-control" formControlName="curIm_FechaFin" type="datetime-local" required autofocus (keydown)="validarNumeros($event)"/>
                                    <small class="ng-dirty ng-invalid" [ngClass]="{'collapse': ImagenEncontrada === false}"  *ngIf=" isSubmit && crearCursosImpartidosForm.controls['curIm_FechaFin'].invalid" style="color: red !important;">Fecha de Inicio Requerida</small>
                            </div>


                            <div class="col-sm-1"></div>
                            <div class="col-4" [ngClass]="{'collapse': ImagenEncontrada === false}" >
                            <div class="card" style="width: 18rem;">
                                <img src="https://bucketdefer.s3.us-east-2.amazonaws.com/{{crearCursosImpartidosForm.get('curso_Imagen').value}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Duración</h5>
                                    <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-control" style="outline: none; border: none; display: inline-block; width: 70px; font-weight: bold; background-color: #1d2b37e6; color: #fff" formControlName="curso_DuracionHoras" type="number" readonly/>
                                        <label for="">horas</label>

                                    <h5 class="card-title">Categoria</h5>
                                    <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}" style="outline: none; border: none; font-weight: bold;  background-color: #1d2b37e6; color: #fff" class="form-control" formControlName="cate_Descripcion" type="text" readonly/>

                                    <button pButton type="button" label="Ver participantes" (click)="showDialog()" class="mt-3" style="border-radius: 15px;"></button>
                            </div>
                              </div>
                            </div>


                            </div>

                            <div class="card mt-4" *ngIf="selectedParticipantes.length > 0">
                                <div class="card-header">
                                    <h4>Participantes</h4>
                                </div>
                                <div class="card-body">
                                 
                                    <p-table [value]="selectedParticipantes">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Empresa</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-participant>
                                            <tr>
                                                <td>{{ participant.part_Id }}</td>
                                                <td>{{ participant.part_Nombre }}</td>
                                                <td>{{ participant.empre_Descripcion }}</td>
                                                <td><button pButton type="button" icon="pi pi-trash" (click)="onRemoveParticipant(participant)"></button></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                            

                        </div>

                    <div class="row mt-3">

                        <div class="col-md-offset-2 col-3">
                            <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                        </div>
                        <div class="col-md-offset-2 col-3" id="">
                            <button pButton icon="pi pi-times" type="button" (click)="cancel()" label="Cancelar" class="btn btn-danger"></button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>




    <!-- DESPLEGAR FORMULARIO DE EDITAR -->
    <div class="" [ngClass]="{'collapse': CollapseEdit === false}">

        <form [formGroup]="editarCursosImpartidosForm" (ngSubmit)="onSubmitEdit()">


            <div class="card">
                <div class="card-body">
                    <h4>Editar Curso Impartido</h4>
                    <hr />

                    <div class="row">
                        <div class="col-6">

                            <label for="firstname2" class="form-label">Ingrese DNI del Empleado</label>

                            <input pInputText id="firstname2" class="form-control" formControlName="empl_DNI" type="text" required autofocus (change)="onDNIChangeEdit(editarCursosImpartidosForm.get('empl_DNI').value)"/>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarCursosImpartidosForm.controls['empl_DNI'].invalid" style="color: red !important;">DNI Requerido Requerido</small>
                        </div>

                        <div class="col-6">

                            <label for="firstname2" class="form-label">Empleado</label>

                            <input pInputText id="firstname2" class="form-control" formControlName="empl_Nombre" type="text" required autofocus (keydown)="validarNumeros($event)"/>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarCursosImpartidosForm.controls['empl_Nombre'].invalid" style="color: red !important;">Nombre Requerido</small>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">

                        <div class="col-6">

                            <label for="firstname2" class="form-label mt-5">Ingrese el nombre del Curso</label>

                            <input pInputText id="firstname2" class="form-control" formControlName="curso_Descripcion" type="text" required autofocus (change)="onCursoChangeEdit(editarCursosImpartidosForm.get('curso_Descripcion').value)"/>
                            <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && editarCursosImpartidosForm.controls['curso_Descripcion'].invalid" style="color: red !important;">Curso Requerido</small>


                            <label for="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}" class="form-label mt-5">Ingrese la Fecha de Inicio del Curso</label>

                            <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-control" formControlName="curIm_FechaInicio" type="datetime-local" required autofocus (keydown)="validarNumeros($event)"/>
                            <small class="ng-dirty ng-invalid" [ngClass]="{'collapse': ImagenEncontrada === false}"  *ngIf=" isSubmit && editarCursosImpartidosForm.controls['curIm_FechaInicio'].invalid" style="color: red !important;">Fecha de Inicio  Requerida</small>


                                <label for="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-label mt-5">Ingrese la Fecha de Finalización del Curso</label>

                                <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-control" formControlName="curIm_FechaFin" type="datetime-local" required autofocus (keydown)="validarNumeros($event)"/>
                                <small class="ng-dirty ng-invalid" [ngClass]="{'collapse': ImagenEncontrada === false}"  *ngIf=" isSubmit && editarCursosImpartidosForm.controls['curIm_FechaFin'].invalid" style="color: red !important;">Fecha de Finalización Requerida</small>
                        </div>


                        <div class="col-sm-1"></div>
                        <div class="col-4" [ngClass]="{'collapse': ImagenEncontrada === false}" >
                        <div class="card" style="width: 18rem;">
                            <img src="https://bucketdefer.s3.us-east-2.amazonaws.com/{{editarCursosImpartidosForm.get('curso_Imagen').value}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Duración</h5>
                                <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}"  class="form-control" style="outline: none; border: none; display: inline-block; width: 70px; font-weight: bold; background-color: #1d2b37e6; color: #fff" formControlName="curso_DuracionHoras" type="number" readonly/>
                                    <label for="">horas</label>

                                <h5 class="card-title">Categoria</h5>
                                <input pInputText id="firstname2" [ngClass]="{'collapse': ImagenEncontrada === false}" style="outline: none; border: none; font-weight: bold;  background-color: #1d2b37e6; color: #fff" class="form-control" formControlName="cate_Descripcion" type="text" readonly/>

                                <button pButton type="button" label="Agregar participantes" (click)="showDialog()" class="mt-3" style="border-radius: 15px;"></button>

                        </div>
                          </div>
                        </div>


                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-offset-2 col-3">
                            <button pButton icon="pi pi-check" type="submit" label="Editar"  class="btn btn-primary"></button>
                        </div>
                        <div class="col-md-offset-2 col-3" id="">
                            <button pButton icon="pi pi-times" type="button" (click)="CollapseEdit=false; Tabla=true; isSubmitEdit=false; ImagenEncontrada = false;" label="Cancelar" class="btn btn-danger"></button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

<p-toast></p-toast>

<div class="card" [ngClass]="{'collapse': Tabla === false}">
    <div class="card-header">
        <header class="w-100 d-flex justify-content-between p-2">
            <h2>Listado de Cursos Impartidos</h2>
            <button (click)="Collapse=true; Tabla=false" class="btn btn-primary" pButton icon="pi pi-plus" style="max-height: 40px; max-width:150px;" label="Agregar"></button>

        </header>
    </div>
    <div class="card-body m-2 mt-4 p-3">


        <div class="card px-6 py-6">

            <p-table #dt [value]="cursosimpartidos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Empleado</th>
                        <th>Curso</th>
                        <th>Finalizado</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cursosimp>
                    <tr>
                        <td>{{cursosimp.curIm_Id}}</td>
                        <td>{{cursosimp.nombre}}</td>
                        <td>{{cursosimp.cursos}}</td>
                        <td>{{cursosimp.curIm_Finalizado}}</td>

                        <td>
                            <button class="btn btn-primary fa fa-user-plus btn-sm" [disabled]="cursosimp.curIm_Finalizar === false" (click)="Fill(cursosimp.curIm_Id)"><i class="pi pi-file-edit "></i>Editar</button> |
                            <button class="btn btn-warning fa fa-address-card btn-sm" (click)="detalles(cursosimp.curIm_Id)"><i class="pi pi-file"></i>Detalle</button> |
                            <button class="btn btn-danger fa fa-window-close btn-sm" (click)="deleteCursoImpartido(cursosimp.curIm_Id)"><i class="pi pi-trash"></i>Eliminar</button> |
                            <button class="btn btn-warning fa fa-window-close btn-sm" [ngClass]="{'collapse': cursosimp.curIm_Finalizar === false}" (click)="finalizarCursoImpartido(cursosimp.curIm_Id)" style="background-color: #e33f09; border-color: #e33f09; color: #fff"><i class="pi pi-check"></i>Finalizar</button>
                            <button class="btn btn-warning fa fa-window-close btn-sm" [ngClass]="{'collapse': cursosimp.curIm_Finalizar === true}" (click)="imprimirFactura(cursosimp.curIm_Id)" style="background-color: #007c9b; border-color: #007c9b; color: #fff"><i class="pi pi-file-pdf"></i>Imprimir</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>


<div class="container" [ngClass]="{'collapse': CollapseDetalle === false}">
    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Detalles De Curso Impartido</h4>
                <button pButton icon="pi pi-times" type="button" (click)="CollapseDetalle=false; Tabla=true;" label="Regresar" class="btn btn-warning"></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="font-weight:700">
                    <div>Curso</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Fecha Inicio</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Fecha Fin</div>
                </div>

                <div class="col" style="font-weight:700">
                    <div>Empleado</div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div><label for="Curso">{{ curso_Id }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Empleado">{{ curIm_FechaInicio }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Empleado">{{ curIm_FechaFin }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Empleado">{{ empl_Id }}</label></div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5>Auditoria</h5>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Insertar</td>
                                    <td>{{ creacion }}</td>
                                    <td>{{ curIm_FechaCreacion }}</td>
                                </tr>
                                <tr>
                                    <td>Modificar</td>
                                    <td>{{ modificacion }}</td>
                                    <td>{{ curIm_FechaModificacion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<p-dialog [(visible)]="deleteCursoImpartidoBool" header="Eliminar Registro" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <h4><b>Desea eliminar el registro?</b></h4>
    </div>
        <div class="row mt-5">
            <div class="col-4" id="">
                <button pButton pRipple icon="pi pi-check" class="btn btn-danger" style="width: 120px;" label="Confirmar" (click)="confirmDelete()"></button>
            </div>
            <div class="col-4">
                <button pButton pRipple icon="pi pi-times" class="btn btn-warning" style="width: 120px;" label="Cancelar" (click)="deleteCursoImpartidoBool = false"></button>
            </div>
        </div>
</p-dialog>






<p-dialog header="Listado de Participantes" [(visible)]="displayParticipantes" [style]="{width: '50vw'}" [modal]="true" [dismissableMask]="true" [blockScroll]="true">
    <input type="text" pInputText placeholder="Buscar..." (input)="applyFilter($event.target.value)" style="width: 100%; margin-bottom: 1rem;">
  
    <p-table #dt [value]="participantes" [paginator]="true" [rows]="10" [globalFilterFields]="['part_Nombre', 'empre_Descripcion']">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-participant>
        <tr>
          <td>{{ participant.part_Id }}</td>
          <td>{{ participant.part_Nombre }}</td>
          <td>{{ participant.empre_Descripcion }}</td>
          <td><button pButton type="button" icon="pi pi-plus" (click)="onAddParticipant(participant)"></button></td>
        </tr>
      </ng-template>
    </p-table>
  
    <p-footer>
      <button pButton type="button" label="Cerrar" (click)="displayParticipantes=false" class="ui-button-danger ui-button-rounded mt-4"></button>
    </p-footer>
  </p-dialog>
  



<p-dialog [(visible)]="finalizarCursoImpartidoBool" header="Finalizar Curso" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <h4><b>Desea Finalizar el Curso?</b></h4>
    </div>
        <div class="row mt-5">
            <div class="col-4" id="">
                <button pButton pRipple icon="pi pi-check" class="btn btn-danger" style="width: 120px;" label="Confirmar" (click)="finalizar()"></button>
            </div>
            <div class="col-4">
                <button pButton pRipple icon="pi pi-times" class="btn btn-warning" style="width: 120px;" label="Cancelar" (click)="finalizarCursoImpartidoBool = false"></button>
            </div>
        </div>
</p-dialog>





<p-dialog [(visible)]="imprimirFacturaBool" header="Finalizar Curso" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <h4><b>Desea Imprimir la Factura?</b></h4>
    </div>
        <div class="row mt-5">
            <div class="col-4" id="">
                <button pButton pRipple icon="pi pi-check" class="btn btn-danger" style="width: 120px;" label="Confirmar" (click)="showPDF()"></button>
            </div>
            <div class="col-4">
                <button pButton pRipple icon="pi pi-times" class="btn btn-warning" style="width: 120px;" label="Cancelar" (click)="imprimirFacturaBool = false"></button>
            </div>
        </div>
</p-dialog>


<div class="card" style="text-align: end;" [ngClass]="{'collapse': showPdf === false}">
    <div><button class="btn btn-danger" (click)="showPdf = false" style="max-width: 100px;">Cerrar</button></div>
    <div class="flex align-items-center justify-content-center mt-3">
        <object [data]="safeUrl" type="application/pdf" width="100%" height="500px">
            <p>No es posible cargar el PDF. <a [href]="safeUrl">Haz clic aquí para descargar el archivo PDF.</a></p>
          </object>
    </div>
</div>
