<!-- <ul class="layout-menu">
    <button (click)="showPDF()" class="btn btn-primary">Previsualizar Reporte</button>
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>

</ul> -->



<!-- <ul *ngFor="let section of model">
    <li *ngIf="section.items.length > 0">
      <span>{{ section.label }}</span>
      <ul>
        <li *ngFor="let item of section.items">
          <a *ngIf="permisoDisponible(item.label)" [routerLink]="item.routerLink">{{ item.label }}</a>
        </li>
      </ul>
    </li>
  </ul> -->


  <!-- <ul *ngFor="let section of model">
    <li *ngIf="section.items.length > 0">
      <span>{{ section.label }}</span>
      <ul>
        <li *ngFor="let item of section.items">
          <a [routerLink]="item.routerLink">{{ item.label }}</a>
        </li>
      </ul>
    </li>
  </ul> -->


  <ul class="layout-menu">
    <button (click)="showPDF()" class="btn btn-primary">Previsualizar Reporte</button>
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
</ul>
















  <!-- <ul *ngFor="let section of model">
    <li *ngIf="section.items.length > 0">
      <span>{{ section.label }}</span>
      <ul>
        <li *ngFor="let item of section.items">
          <a *ngIf="permisoDisponible(item.label)" [routerLink]="item.routerLink">{{ item.label }}</a>
        </li>
      </ul>
    </li>
  </ul>


<ul *ngFor="let section of model">
    <li>
      <span>{{ section.label }}</span>
      <ul>
        <li *ngFor="let subSection of section.items">
          <span>{{ subSection.label }}</span>
          <ul>
            <li *ngFor="let item of subSection.items">
              <a [routerLink]="item.routerLink">{{ item.label }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul> -->


