<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <!-- <app-config></app-config> -->
    <div class="layout-mask"></div>
</div>


<p-dialog [(visible)]="showPdf" header="Visualizar PDF" [modal]="true" [style]="{width:'900px', height:'700px'}">

    <div class="flex align-items-center justify-content-center mt-3">
        <object [data]="safeUrl" type="application/pdf" width="100%" height="500px">
            <p>No es posible cargar el PDF. <a [href]="safeUrl">Haz clic aquí para descargar el archivo PDF.</a></p>
          </object>
    </div>
</p-dialog>
