<p-toast></p-toast>


    <!-- DESPLEGAR FORMULARIO DE INSERTAR -->
<div class="" [ngClass]="{'collapse': Collapse === false}">

    <form [formGroup]="crearCiudadForm" (ngSubmit)="onSubmitInsert()">
        <div class="card">
            <div class="card-body">
                <h4>Agregar Ciudad</h4>
                <hr />

                <div class="row">
                    <div class="col-6">

                        <div class="col-sm-2">
                        <label for="firstname2" class="form-label">Codigo</label>
                        </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="ciud_Id" type="text" required autofocus (keydown)="validarNumeros($event)"/>
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearCiudadForm.controls['ciud_Id'].invalid" style="color: red !important;">Codigo Requerido</small>


                    </div>
                    <div class="col-6 mt-2">

                        <div class="col-sm-2">
                            <label for="firstname2">Municipio</label>
                            </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="ciud_Descripcion" type="text" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearCiudadForm.controls['ciud_Descripcion'].invalid" style="color: red !important;">Descripcion Requerida</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">

                        <div class="col-sm-4">
                        <label for="firstname2">Estado</label>
                        </div>

                        <select formControlName="esta_Id" class="form-control" pInputText id="" required autofocus>
                        <option *ngFor="let esta of estados" [value]="esta.value">{{ esta.text }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearCiudadForm.get('esta_Id').value === '0'" style="color: red !important;">Estado Requerido</small>

            </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-offset-2 col-3">
                        <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                    </div>
                    <div class="col-md-offset-2 col-3" id="">
                        <button pButton icon="pi pi-times" type="button" (click)="cancel()" label="Cancelar" class="btn btn-danger"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>



    <!-- DESPLEGAR FORMULARIO DE EDITAR -->
<div class="" [ngClass]="{'collapse': CollapseEdit === false}">

    <form [formGroup]="editarCiudadForm" (ngSubmit)="onSubmitEdit()">
        <div class="card">
            <div class="card-body">
                <h4>Editar Ciudad</h4>
                <hr />

                <div class="row">
                    <div class="col-6">

                        <div class="col-sm-2">
                        <label for="firstname2" class="form-label">Codigo</label>
                        </div>
                        <input pInputText id="firstname2" class="form-control" formControlName="ciud_Id" type="text" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarCiudadForm.controls['ciud_Id'].invalid" style="color: red !important;">Codigo Requerido</small>
                    </div>
                    <div class="col-6 mt-2">

                        <div class="col-sm-2">
                            <label for="firstname2">Municipio</label>
                            </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="ciud_Descripcion" type="text" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarCiudadForm.controls['ciud_Descripcion'].invalid" style="color: red !important;">Descripcion Requerida</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">

                        <div class="col-sm-2">
                        <label for="firstname2">Estado</label>
                        </div>


                        <select formControlName="esta_Id" class="form-control" pInputText id="" required autofocus>
                        <option *ngFor="let esta of estados" [value]="esta.value">{{ esta.text }}</option>
                    </select>
                    <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarCiudadForm.get('esta_Id').value === '0'" style="color: red !important;">Estado Requerido</small>

            </div>
                </div>




                <div class="row mt-3">
                    <div class="col-md-offset-2 col-3">
                        <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                    </div>
                    <div class="col-md-offset-2 col-3" id="">
                        <button pButton icon="pi pi-times" type="button" (click)="CollapseEdit=false; Tabla=true; isSubmitEdit=false" label="Cancelar" class="btn btn-danger"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>





<!-- DESPLEGAR TABLA DE LISTADO -->
<div class="card" [ngClass]="{'collapse': Tabla === false}">
    <div class="card-header">
        <header class="w-100 d-flex justify-content-between p-2">
            <h2>Listado de Ciudades</h2>
            <button (click)="Collapse=true; Tabla=false" class="btn btn-primary" pButton icon="pi pi-plus" style="max-height: 40px; max-width:150px;" label="Agregar"></button>

        </header>
    </div>

<div class="card-body m-2 mt-4 p-3">

    <div class="card px-6 py-6">

        <p-table #dt [value]="ciudad" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ciud>
                <tr>
                    <td>{{ciud.ciud_Id}}</td>
                    <td>{{ciud.ciud_Descripcion}}</td>
                    <td>{{ciud.estado}}</td>

                    <td>
                      <button class="btn btn-primary fa fa-user-plus btn-sm" (click)="Fill(ciud.ciud_Id)"><i class="pi pi-file-edit "></i>Editar</button> |
                      <button class="btn btn-warning fa fa-address-card btn-sm" (click)="detalles(ciud.ciud_Id)"><i class="pi pi-file"></i>Detalle</button> |
                      <button class="btn btn-danger fa fa-window-close btn-sm" (click)="deleteCiudad(ciud.ciud_Id)"><i class="pi pi-trash"></i>Eliminar</button>
                    </td>
                  </tr>
            </ng-template>
        </p-table>
    </div>

</div>
</div>




<!-- DESPLEGAR DETALLE -->
<div class="container" [ngClass]="{'collapse': CollapseDetalle === false}">
    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Detalles Ciudad</h4>
                <button pButton icon="pi pi-times" type="button" (click)="CollapseDetalle=false; Tabla=true;" label="Regresar" class="btn btn-warning"></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="font-weight:700">

                    <div>Municipio</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Codigo</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Estado</div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div><label for="Municipio">{{ Ciudad }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Codigo">{{ codigo }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Estado">{{ estado }}</label></div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5>Auditoria</h5>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Insertar</td>
                                    <td>{{ UsuarioCreacion }}</td>
                                    <td>{{ FechaCreacion }}</td>
                                </tr>
                                <tr>
                                    <td>Modificar</td>
                                    <td>{{ UsuarioModificacion }}</td>
                                    <td>{{ FechaModificacion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- DESPLEGAR MODAL DELETE -->
<p-dialog [(visible)]="deleteCiudadBool" header="Eliminar Registro" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <h4><b>Desea eliminar el registro?</b></h4>
    </div>
        <div class="row mt-5">
            <div class="col-4" id="">
                <button pButton pRipple icon="pi pi-check" class="btn btn-danger" style="width: 120px;" label="Confirmar" (click)="confirmDelete()"></button>
            </div>
            <div class="col-4">
                <button pButton pRipple icon="pi pi-times" class="btn btn-warning" style="width: 120px;" label="Cancelar" (click)="deleteCiudadBool = false"></button>
            </div>
        </div>
</p-dialog>

