

<h1>Si se puede</h1>

<div cdkDropListGroup>
  <multi-drag-drop
    [items]="[0,1,2,3,4,5]"
    (itemsRemoved)="itemsRemoved($event, 1)"
    (itemsAdded)="itemsAdded($event, 1)"
    (itemsUpdated)="itemsUpdated($event, 1)"
    (selectionChanged)="selectionChanged($event, 1)"
  >
    <ng-template let-item>
      --{{ item }}--
    </ng-template>
  </multi-drag-drop>
  <br/>
  <multi-drag-drop
    [items]="['b', 'a', 'r']"
    (itemsRemoved)="itemsRemoved($event, 2)"
    (itemsAdded)="itemsAdded($event, 2)"
    (itemsUpdated)="itemsUpdated($event, 2)"
    (selectionChanged)="selectionChanged($event, 1)"
  >
    <ng-template let-item>
      --{{ item }}--
    </ng-template>
  </multi-drag-drop>
</div>
<br/>
<button (click)="clearEvents()">Clear Events:</button>
<div *ngFor="let ev of events">
  {{ev.text}}: {{ev.ev}}
</div>
