
<p-dialog [(visible)]="showPdf" header="Visualizar PDF" [modal]="true" [style]="{width:'600px', height:'500px'}">
    <iframe [src]="pdfUrl" style="width:100%; height:400px;"></iframe>
    <div class="flex align-items-center justify-content-center mt-3">
        <button pButton pRipple icon="pi pi-download" label="Descargar" (click)="downloadPdf()" class="p-button-success mr-2"></button>
        <button pButton pRipple icon="pi pi-times" label="Cerrar" (click)="showPdf=false" class="p-button-danger"></button>
    </div>
</p-dialog>
