
<div class="" [ngClass]="{'collapse': Collapse === false}">

    <form [formGroup]="crearTituloForm" (ngSubmit)="onSubmitInsert()">
        <div class="card">
            <div class="card-body">
                <h4>Agregar Titulo</h4>
                <hr />

                <div class="row">
                    <div class="col-6">

                        <div class="col-sm-2">
                        <label for="firstname2" class="form-label">Titulo</label>
                        </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="titl_Descripcion" type="text" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearTituloForm.controls['titl_Descripcion'].invalid" style="color: red !important;">Contenido Requerido</small>
                    </div>
                    <div class="col-6 mt-2">

                        <div class="col-sm-6">
                            <label for="firstname2">Horas de duracion</label>
                            </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="titl_ValorMonetario" type="number" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmit && crearTituloForm.controls['titl_ValorMonetario'].invalid" style="color: red !important;">Valor Requerido</small>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-md-offset-2 col-3">
                        <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                    </div>
                    <div class="col-md-offset-2 col-3" id="">
                        <button pButton icon="pi pi-times" type="button" (click)="Collapse=false; Tabla=true; isSubmit=false" label="Cancelar" class="btn btn-danger"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="" [ngClass]="{'collapse': CollapseEdit === false}">

    <form [formGroup]="editarTituloForm" (ngSubmit)="onSubmitEdit()">
        <div class="card">
            <div class="card-body">
                <h4>Editar Estado</h4>
                <hr />

                <div class="row">

                    <div class="col-6 mt-2">

                        <div class="col-sm-2">
                            <label for="firstname2">Titulo</label>
                            </div>

                        <input pInputText id="firstname2" class="form-control" formControlName="titl_Descripcion" type="text" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarTituloForm.controls['titl_Descripcion'].invalid" style="color: red !important;">Titulo Requerido</small>
                    </div>

                    <div class="col-6">

                        <div class="col-sm-2">
                        <label for="firstname2" class="form-label">Codigo</label>
                        </div>
                        <input pInputText id="firstname2" class="form-control" formControlName="titl_ValorMonetario" type="text" required autofocus />
                        <small class="ng-dirty ng-invalid" *ngIf=" isSubmitEdit && editarTituloForm.controls['titl_ValorMonetario'].invalid" style="color: red !important;">Codigo Requerido</small>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-offset-2 col-3">
                        <button pButton icon="pi pi-check" type="submit" label="Agregar"  class="btn btn-primary"></button>
                    </div>
                    <div class="col-md-offset-2 col-3" id="">
                        <button pButton icon="pi pi-times" type="button" (click)="CollapseEdit=false; Tabla=true; isSubmitEdit=false" label="Cancelar" class="btn btn-danger"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="card" [ngClass]="{'collapse': Tabla === false}">
    <div class="card-header">
        <header class="w-100 d-flex justify-content-between p-2">
            <h2>Listado de Titulos</h2>

        </header>
    </div>
    <div class="card m-2 mt-4 p-3">
        <div class="card-header">
            <button (click)="Collapse=true; Tabla=false" class="btn btn-primary" pButton icon="pi pi-plus" style="max-height: 40px; max-width:150px;" label="Agregar"></button>
        </div>

        <div class="card px-6 py-6">

            <p-table #dt [value]="titulo" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Valor Monetario</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-titl>
                    <tr>
                        <td>{{titl.titl_Id}}</td>
                        <td>{{titl.titl_Descripcion}}</td>
                        <td>{{titl.titl_ValorMonetario}}</td>
                        <td>
                            <button class="btn btn-primary fa fa-user-plus btn-sm" (click)="Fill(titl.titl_Id)">Editar</button> |
                            <button class="btn btn-warning fa fa-address-card btn-sm" (click)="detalles(titl.titl_Id)">Detalle</button> |
                            <button class="btn btn-danger fa fa-window-close btn-sm" (click)="deleteTitulo(titl.titl_Id)">Eliminar</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>

<div class="container" [ngClass]="{'collapse': CollapseDetalle === false}">
    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-title">Detalles Contenido</h4>
                <button pButton icon="pi pi-times" type="button" (click)="CollapseDetalle=false; Tabla=true;" label="Regresar" class="btn btn-warning"></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col" style="font-weight:700">
                    <div>Titulo</div>
                </div>
                <div class="col" style="font-weight:700">
                    <div>Valor Monetario</div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div><label for="Contenido">{{ Titulo }}</label></div>
                </div>
                <div class="col">
                    <div><label for="Duracion en Horas">{{ valor }}</label></div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5>Auditoria</h5>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Insertar</td>
                                    <td>{{ UsuarioCreacion }}</td>
                                    <td>{{ FechaCreacion }}</td>
                                </tr>
                                <tr>
                                    <td>Modificar</td>
                                    <td>{{ UsuarioModificacion }}</td>
                                    <td>{{ FechaModificacion }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="deleteTituloBool" header="Eliminar Registro" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <h4><b>Desea eliminar el registro?</b></h4>
    </div>
        <div class="row mt-5">
            <div class="col-4" id="">
                <button pButton pRipple icon="pi pi-check" class="btn btn-danger" style="width: 120px;" label="Confirmar" (click)="confirmDelete()"></button>
            </div>
            <div class="col-4">
                <button pButton pRipple icon="pi pi-times" class="btn btn-warning" style="width: 120px;" label="Cancelar" (click)="deleteTituloBool = false"></button>
            </div>
        </div>
</p-dialog>
