// .drop-list {
//     min-height: 10px;
//     min-width: 10px;
//     height: 100%;
//     width: 100%;
//     border: 1px #393E40 solid;
//     overflow-y: scroll;
//   }
//   .item {
//     border: 0 dotted #393E40;
//     border-width: 0 0 1px 0;
//     cursor: grab;
//     padding: 3px;

//     &.selected {
//       background-color: rgba(144, 171, 200, 0.5);
//     }
//   }
//   .item-dragging {
//     .item.selected:not(.cdk-drag-placeholder) {
//       opacity: 0.3;
//     }
//   }
//   .select-item-drag-preview {
//     background-color: rgba(204, 0, 102, 0);
//     font-weight: bold;
//     border: 2px solid #666;
//     border-radius: 50%;
//     display: inline-block;
//     width: 30px;
//     line-height: 30px;
//     text-align: center;
//   }
//   .cdk-drop-list-dragging .cdk-drag {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }


.drop-list {
    min-height: 200px;  /* Ajusta la altura mínima */
    width: 300px;       /* Fija el ancho para mantener uniformidad */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #f4f4f4;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #393e40;
  }

  /* Estilo de cada elemento en la lista */
  .item {
    border: 0;
    border-radius: 5px;
    cursor: grab;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
  }

  .item:hover {
    background-color: #e0e0e0;
  }

  .item.selected {
    background-color: #90abc8;
  }

  /* Elemento que muestra cuántos elementos se están arrastrando */
  .select-item-drag-preview {
    background-color: #633394;
    color: #fff;
    font-weight: bold;
    border: 2px solid #666;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    text-align: center;
  }

  /* Efecto de transición para elementos que se arrastran */
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .item-dragging .item.selected:not(.cdk-drag-placeholder) {
    opacity: 0.3;
  }
